
body{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.navbar{
    background-color:#6f42c1 ;
}
.color{
    background-color:#6f42c1;
}
.bg{
    background-image: url(https://previews.123rf.com/images/marinamandarina/marinamandarina1604/marinamandarina160400017/54627440-seamless-pattern-with-viruses-endless-texture-for-wallpaper-fill-web-page-background-surface-texture.jpg?fj=1);
    padding: 1vh;
}
.btn{
    background-color:#6f42c1;
}
#btn-back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 1vh;
    display: none;
    border-radius: 30px;
    background-color: #6f42c1 ;
    color: white;
  }
.glass{
    background: rgba(255, 255 ,255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}