{% extends 'base.html' %}


{% block title%}

{{title}}

{% endblock title %}


{% block content %}

<div class="container bg">
 

    <div class="row">
        <div class="col">
            <nav class="navbar navbar-light bg-transparent">
                <form action="{{url_for('pesquisa')}}" method="POST">
                    <div class="row g-3">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-6">
                            <div class="input-group">
                                <div class="input-group-text color"><i class="fas fa-calendar text-white"></i></div>
                                <input type="date" class="form-control" placeholder="data" name="data" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Cidade" aria-label="City"
                                    name="cidade" required>
                                <button class="btn" type="submit" id="button-addon2"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg></button>
                            </div>
                        </div>
                    </div>
                </form>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row row-cols-1 row-cols-md-3 g-4 ">
                <div class="col opacity-75 ">
                    <div class="card color text-center text-white  h-100">
                        <div class="card-body">
                            <h5 class="card-title">Informações sobre a cidade de </h5>
                            <h5 class="card-text">
                                <h5>
                                    {{cidade}}
                                </h5>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col opacity-75">
                    <div class="card color text-center text-white  h-100">
                        <div class="card-body">
                            <h5 class="card-title">População Estimada</h5>
                            <hr>
                            <p class="card-text">
                            <h4>
                                {{populacao}}
                            </h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col opacity-75">
                    <div class="card color text-center text-white  h-100">
                        <div class="card-body">
                            <h5 class="card-title">Novos Casos Confirmados</h5>
                            <hr>
                            <p class="card-text">
                            <h4>
                                {{novo_confirm}}
                            </h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col opacity-75">
                    <div class="card color text-center text-white  h-100">
                        <div class="card-body">
                            <h5 class="card-title">Total de Casos Confirmados</h5>
                            <hr>
                            <p class="card-text">
                            <h4>
                                {{total_confirm}}
                            </h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col opacity-75">
                    <div class="card color text-center text-white  h-100">
                        <div class="card-body">
                            <h5 class="card-title">Novos Óbitos</h5>
                            <hr>
                            <p class="card-text">
                            <h4>
                                {{novas_mortes}}
                            </h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col opacity-75">
                    <div class="card color text-center text-white  h-100">
                        <div class="card-body">
                            <h5 class="card-title">Total de Óbitos</h5>
                            <hr>
                            <p class="card-text">
                            <h4>
                                {{mortes}}
                            </h4>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


