{% extends 'base.html' %}


{% block title%}

{{title}}

{% endblock title %}


{% block content %}

<div class="container bg">
  
    <div class="row">
        <div class="col">
                <div class="card border-0  h-100">
                    <div class="card-body">
                        <div class="row my-3">
                            <div class="col">
                                <h3 class="card-title">COVID-19</h3>
                                <p class="card-text">
                                    A COVID-19 é uma doença infecciosa causada pelo coronavírus SARS-CoV-2 e tem como principais sintomas febre, cansaço e tosse seca. Outros sintomas menos comuns e que podem afetar alguns pacientes são: perda de paladar ou olfato, congestão nasal, conjuntivite, dor de garganta, dor de cabeça, dores nos músculos ou juntas, diferentes tipos de erupção cutânea, náusea ou vômito, diarreia, calafrios ou tonturas.
                                </p> 
                                <p class="card-text">
                                    Em 26 de novembro de 2021, a OMS designou a variante da COVID-19 B.1.1.529 como uma variante de preocupação denominada Ômicron. Essa variante apresenta um grande número de mutações, algumas das quais preocupantes. As outras variantes de preocupação ainda estão em circulação e são: Alfa, Beta, Gama e Delta.
                                </p>
                                <p class="card-text">
                                    Dessa forma, quanto mais o vírus da COVID-19 circular, através da movimentação das pessoas, mais oportunidades terá de sofrer mutações. Portanto, a coisa mais importante que as pessoas podem fazer é reduzir o risco de exposição ao vírus e se vacinar contra a COVID-19 (com todas as doses necessárias, segundo o esquema de vacinação), continuar a usar máscaras, manter a higiene das mãos, deixar os ambientes bem ventilados sempre que possível, evitar aglomerações e reduzir ao máximo o contato próximo com muitas pessoas, principalmente em espaços fechados.
                                </p>
                            </div>
                        </div>
                     
                        <div class="row my-3">
                            <div class="col">

                                <h3 class="card-title mb-3">Cuidados de acordo com o Ministério da Saúde</h3>
                                <h5 class="card-title">Distanciamento social </h5>
                                <p class="card-text">
                                    considera-se o aglomerado de várias pessoas num mesmo local, onde se torna difícil
                                    para as pessoas permanecerem a pelo menos um metro de distância entre elas.
                                </p>
        
                                <h5 class="card-title">Higienização das mãos </h5>
                                <p class="card-text">
                                    A higienização das mãos é a medida isolada mais efetiva na redução da disseminação
                                    bactérias que causam resfriado comum, gripe e pneumonia, reduzindo assim o impacto
                                    geral da doença.
                                </p>
        
                                <h5 class="card-title">Etiqueta respiratória</h5>
                                <p class="card-text">
                                    Uma das formas mais importantes de prevenir a disseminação do SARS-CoV-2 é a etiqueta respiratória, a qual consiste num conjunto de medidas que devem ser adotadas para evitar e/ ou reduzir a disseminação de pequenas gotículas oriundas do aparelho respiratório, buscando evitar possível contaminação de outras pessoas que estão em um mesmo ambiente.
        
                                   
                                </p>
                                <p class="card-text">
                                    A etiqueta respiratória consiste nas seguintes ações:
                                    <ul>
                                        <li>
                                            Cobrir nariz e boca com lenço de papel ou com o antebraço, e nunca com as mãos ao tossir ou espirrar. Descartar adequadamente o lenço utilizado.
                                        </li>
                                        <li>
                                            Evitar tocar olhos, nariz e boca com as mãos não lavadas. Se tocar, sempre higienize as mãos como já indicado.
                                        </li>
                                        <li>
                                            Manter uma distância mínima de cerca de 1 metro de qualquer pessoa tossindo ou espirrando.
                                        </li>
                                        <li>
                                            Evitar abraços, beijos e apertos de mãos. Adote um comportamento amigável sem contato físico.
                                        </li>
                                        <li>
                                            Higienizar com frequência os brinquedos das crianças e aparelho celular. Não compartilhar objetos de uso pessoal, como talheres, toalhas, pratos e copos.
                                        </li>
                                        <li>
                                            Evitar aglomerações, principalmente em espaços fechados e manter os ambientes limpos e bem ventilados.
                                        </li>
                                    </ul>
                                </p>
        
        
                                <h5 class="card-title">Uso de máscaras em serviços de saúde</h5>
                                <p class="card-text">
                                    O uso universal de máscaras em serviços de saúde deve ser uma exigência para todos os trabalhadores da saúde e por qualquer pessoa dentro de unidades de saúde, independente das atividades realizadas. Todos os trabalhadores da saúde e cuidadores que atuam em áreas clínicas devem utilizar máscaras cirúrgicas de modo contínuo durante toda a atividade de rotina.
        
                                 
                                </p>
                                <p class="card-text">
                                    Em locais de assistência a pacientes com covid-19 em que são realizados procedimentos geradores de aerossóis, recomenda-se que os profissionais da saúde usem máscaras de proteção respiratória (padrão N95 ou PFF2 ou PFF3, ou equivalente), bem como demais equipamentos de proteção individual.
                                </p>
        
                                <h5 class="card-title">Uso de máscaras na população em geral</h5>
                                <p class="card-text">
                                    O uso de máscara facial, incluindo as de tecido, é fortemente recomendado para toda a população em ambientes coletivos, em especial no transporte público e em eventos e reuniões, como forma de proteção individual, reduzindo o risco potencial de exposição do vírus especialmente de indivíduos assintomáticos.
                                </p>
                                <p class="card-text">
                                    As máscaras não devem ser usadas por crianças menores de 2 anos ou pessoas que tenham dificuldade para respirar, estejam inconscientes, incapacitadas ou que tenham dificuldade de remover a máscara sem ajuda. Recomenda-se lavar as mãos antes de colocar a máscara, colocando-a sobre o nariz e a boca, prendendo-a sob o queixo.
                                </p>
                                <p class="card-text">
                                    A pessoa deve ajustar a máscara confortavelmente pelas laterais do rosto, e certificar-se que consegue respirar normalmente. As máscaras não devem ser colocadas em volta do pescoço ou na testa, e ao tocá-la, deve-se lavar as mãos com água e sabão ou álcool em gel 70% para desinfecção. Para pessoas sintomáticas recomenda-se o uso de máscaras cirúrgicas como controle da fonte.
                                </p>
        
                            </div>
                        </div>

                    </div>
                </div>
              
                
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}


